
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default, light;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #08CB00;        
  --color-secondary: #253900;      
  --color-base-100: #FFFFFF;      
  --color-base-200: #F3F4F6;       
  --color-base-content: #000000;  
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #08CB00;      
  --color-secondary: #EEEEEE;

  --color-base-100: #050505;      
  --color-base-200: #1a1a1a;      
  
  --color-base-content: #FFFFFF;
}

body {
  /* font-family: "Work Sans", sans-serif; */
  
/* font-family: 'Clash Grotesk', sans-serif; */
font-family: 'Chillax', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo-font {
  font-family: "Josefin Sans", sans-serif;
  /* font-family: 'Sharpie', sans-serif; */
  
}