/* urbanist font  */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #03C03C;
  --color-secondary: #063700;
  /* --color-base-200: #606060; */
}

body {
  /* font-family: "Urbanist", sans-serif; */
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
.logo-font{
       font-family: "Josefin Sans", sans-serif;
}